In [2]:
import pandas as pd
df = pd.read_csv('C:\\Users\\saipa\\Downloads\\playtennis.csv', index_col=0)
df.head()

      Outlook Temperature Humidity    Wind PlayTennis
Day
D1      Sunny         Hot     High    Weak         No
D2      Sunny         Hot     High  Strong         No
D3   Overcast         Hot     High    Weak        Yes
D4       Rain        Mild     High    Weak        Yes
D5       Rain        Cool   Normal    Weak        Yes

In [8]:
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()

df['Outlook'] = label_encoder.fit_transform(df['Outlook'])
df['Temperature'] = label_encoder.fit_transform(df['Temperature'])
df['Humidity'] = label_encoder.fit_transform(df['Humidity'])
df['Wind'] = label_encoder.fit_transform(df['Wind'])
df['PlayTennis'] = label_encoder.fit_transform(df['PlayTennis'])


df.head()

     Outlook  Temperature  Humidity  Wind  PlayTennis
Day
D1         2            1         0     1           0
D2         2            1         0     0           0
D3         0            1         0     1           1
D4         1            2         0     1           1
D5         1            0         1     1           1